body
{
    background-color: #BCE6A0;
}
p
{ 
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 15;
    text-align: center;
    line-height: 200%;
}
h1
{
    color: rgb(90, 69, 37);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 3px #c3976b
}
div
{
    font-size:20;
    letter-spacing: 0px;
}

.topnav a {
    background-color: rgb(182, 155, 100);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 250px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #A28750;
    color: black;
}

*{
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.avatar {
    vertical-align: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  body {
    margin: 0;
    font-family: Arial;
  }

  .header {
    text-align: center;
    padding: 32px;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .column img {
    margin-top: 12px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  
 